footer{
    padding: 10px 10px;
    text-align: center;
    background-color: rgb(77, 48, 139);
    color: white;
    border-top: 1px solid rgb(26, 5, 77);
}
@media only screen and (max-width: 768px){
    footer{
        padding-bottom: 30px;
        padding-top: 20px;
        margin-bottom: 0%;
        
    }
}