<div class="wrapper">
  <h2 style="color:white;padding-left: 23px; padding-top: 10px; ">
    CONTACT
  </h2> 
  
  <div class="matcard">
    <mat-card class="cardOne">
      <mat-card-content style="padding-top: 22px;"></mat-card-content>
    
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput>
        </mat-form-field>
    
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field>
    
        <mat-form-field >
          <mat-label>Subject</mat-label>
          <input matInput>
        </mat-form-field>
      
        <mat-form-field>
          <mat-label>Message</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        
        <div style="align-items: center; text-align: center; padding-bottom:22px;">
          <button mat-raised-button color="primary">Send Message</button>
        </div>
      <mat-card-footer></mat-card-footer>
    </mat-card>
  
    <mat-card class="cardTwo">
      <mat-card-content style="padding-top: 30px;"></mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <strong>Location:</strong>
          <p>Airport Road Street, Kerala, Pin 535022</p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <strong>Email:</strong>
          <p>help@example.com</p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <strong>Call:</strong>
          <p>+91 9846018133</p>
        </mat-list-item>
      </mat-list>
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4016656.5403661663!2d73.49540619367653!3d10.538722852835145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0812ffd49cf55b%3A0x64bd90fbed387c99!2sKerala%2C%20India!5e0!3m2!1sen!2sbg!4v1684077080598!5m2!1sen!2sbg" 
          width="100%"
          height="220px"
          style="border: 0; padding: 1px 8px;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
      
      <mat-card-footer></mat-card-footer>
    </mat-card>
  </div>
  
</div>






















