<mat-card class="example-card" style="align-items: center; gap: 2px;background-color: rgb(83, 13, 129);">
    <mat-card-content>
        <h2 class="example-h2">2023</h2>
        <h4>89% Growth</h4>
        <mat-progress-spinner 
            class="example-margin"
            [color]="color"
            [mode]="mode"
            [value]="value">
        </mat-progress-spinner>
        <h4>82% Company Growth</h4>
    </mat-card-content>
    <div mat-dialog-actions>
        <button mat-raised-button mat-dialog-close color="accent">Close</button>
    </div>
</mat-card>
