<div class="container" style="align-content: center; text-align: center;">
    <!-- <h1 style="font-size: 70px;">404</h1> -->
    <img style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; width:600px; height:400px;"  src="https://cdn3d.iconscout.com/3d/premium/thumb/404-error-5000507-4165679.png" alt="404 img">
    <div>
        <h2 style="color: white;">Look Like Your Lost!</h2>
        <p>The page your Looking for is not available</p>
        <button mat-raised-button routerLink="" style="background-color: blue; color: white;">Go to Home</button>
    </div>
</div>
