<!-- header child-->
<app-header (onMenuBtnClick)="toggle()"></app-header>

<!-- divider -->
<!-- <mat-divider></mat-divider> -->

<!-- sidenav -->
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="sidebarOpened">
        <!-- sidebar -->
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <!-- user requested pages -->
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

<!-- divider -->
<!-- <mat-divider></mat-divider> -->

<!-- footer -->
<app-footer></app-footer>