<div class="admin">
    <!-- admin details -->
    <div class="profile">
        <img src="https://png.pngtree.com/png-vector/20230313/ourmid/pngtree-female-admin-and-assistant-job-vacancies-vector-png-image_6646509.png" alt="admin image">
        <h3>Hello Admin</h3>
        <h6>rohinipr222@gmail.com</h6>
    </div>
    <mat-divider></mat-divider>
    <h2>Pages</h2>
    <div class="pages">
        <a routerLink=""><mat-icon>dashboard</mat-icon> Dashboard</a>
        <a routerLink="customers"><mat-icon>groups</mat-icon> Customers</a>
        <a routerLink="category"><mat-icon>grid_view</mat-icon>Category</a>
        <a routerLink="products"><mat-icon>shopping_bag</mat-icon>Products</a>
        <a routerLink="orders"><mat-icon>list_alt</mat-icon> Orders</a>
    </div>
    <mat-divider></mat-divider>
    <h2>Tools</h2>
    <div class="pages">
        <a routerLink="contacts"><mat-icon>contact_phone</mat-icon> Contact</a>
    </div>
</div>